.site-header {
  padding: 10px 0;
  position: absolute;
  /* make header use the full width of the page */
  width: 100%;

  z-index: 2; /* make the header come on top of the page*/

  @mixin atMedium {
    background-color: rgba($mainBlue, .3);
  }

  &__btn-container {
    float: right;
  }

  &__logo {
    /* take it out the natural flow of the page */
    position: absolute;
    top: 0;

    left: 50%;
    transform: translateX(-50%) scale(0.8);
    transform-origin: 50% 0;
     /* pulls it back to the left by halfwidth */
    
    background-color: $mainBlue;
    padding: 25px 36px;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);
    }

  }



  &__logo__graphic {
    text-indent: -9999px; /* hides the text */
  }


  &__menu-icon{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
    top: 10px;
    right: 10px;

    @mixin atMedium {
      display: none;
    }
  }


  &__menu-content{
    display: none;


    @mixin atMedium {
      display: block;
    }


  }




}